{% extends 'quizes/base.html' %}
{% load bootstrap4 %} {% load static %}

{% block content %}
<div class="container-fluid" style="padding-top: 90px; color: antiquewhite; font-size: 25px;font-family: Assistant;">
            <div class="content-section">
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4"><h2>Quiz</h2>
                                {{ quiz_form }}</div>
                            <div class="col-md-4"> <h2>Questions</h2>
                                {{ question_form}}</div>
                            <div class="col-md-4"> <h2>Answers</h2>
                                {{answer_form }}</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div> 
</div>
</div>


{% endblock %}
{% block scripts %} {{block.super}}
<script type="text/javascript" src="{% static 'js/main.js '%}"></script>
{% endblock %}