{% extends 'quizes/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block scripts %}
    <script src="{% static 'quizes/quiz.js' %}" defer></script>
{% endblock %}

    {% block content %}
    <b><h1>{{obj.name}}</h1></b>

    <br>
    <p>score to pass: {{obj.required_score_to_pass}}</p>
    <form action="" id="quiz-form" class="mt-3 mb-3">
        {% csrf_token %}
        <div id="quiz-box"></div>
        <button type="submit" class="btn btn-primary mt-3">Save</button>
    </form>
    <div id="score"></div>
    <div id="results-box"></div>

  {% endblock %}
